# Core dependencies for the Flask application
Flask==2.3.3
gunicorn==22.0.0

# Machine Learning and NLP dependencies
mlflow==2.18.0
joblib==1.4.2
transformers[tf-cpu]
tensorflow
scikit-learn==1.2.2
numpy==1.24.3
applicationinsights==0.11.10